// =============================================================================
// Colour Picker
// =============================================================================

// Vars
$size: 3rem;
$border-size: 0px;

// Mixin to change sizes
@mixin size($size_base: $size) {
    width: $size_base;
    height: $size_base;
    border-radius: $size_base;
    line-height: $size_base;
}

// Mixin to change colors
@mixin color($bg, $color: #fff) {
    // > [type="radio"],
    // > [type="checkbox"] {
    //   + label {
    //     background-color: $bg;
    //     color: $color;
    //   }
    // }

    background-color: $bg;
    color: $color;
}

// TODO: move
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    // border: 1px solid red;
}

.sr-only {
    display: none;
}

.color-picker {
    display: flex;
    justify-content: space-evenly;
    margin: 0.5rem auto;
    max-width: 80ch;
    border: none;
}

$offset: 700;
$n: 5;
.appear {
    animation: appear .25s ease 0s 1 normal forwards;

    &:nth-child(1) {
        animation-delay: $offset * 1ms;
    }

    @for $x from 2 through $n {
        &:nth-child(#{$x}) {
            animation-delay: $offset + 120ms * ($x - 1);
        }
    }
}
@keyframes appear {
    0% {
        transform: scale(0);
    }
    80% {
        transform: scale(1.1);
        }
    100% {
        transform: scale(1);
    }
}

.swatch {
    position: relative;
    margin: 0.5rem;
    @include size(3rem);
    display: inline-block;
    transform: scale(0);
    box-shadow: 0 0 20px 5px rgba(11, 15, 26, 0.75);

    > [type='radio'],
    > [type='checkbox'] {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        opacity: 0;

        + label {
            @include size;
            text-align: center;
            position: absolute;
            cursor: pointer;

                transition: transform 0.2s, opacity 0.2s;

            &:hover {
                box-shadow: 0 0 0 0.1rem #fff;
                transform: scale(1.1);
            }
        }

        &:checked {
            + label {
            }
        }
    }

    

    &.chrome {
        > [type='radio'],
        > [type='checkbox'] {
            + label {
                @include color($bg: $color-chrome);
                background-image: linear-gradient(315deg, #bdcad9 0%, #e1dada 74%);
            }
        }
    }
    &.red {
        > [type='radio'],
        > [type='checkbox'] {
            + label {
                @include color($bg: $color-red);
            }
        }
    }
    &.green {
        > [type='radio'],
        > [type='checkbox'] {
            + label {
                @include color($bg: $color-green);
            }
        }
    }
    &.blue {
        > [type='radio'],
        > [type='checkbox'] {
            + label {
                @include color($bg: $color-blue);
            }
        }
    }
    &.pink {
        > [type='radio'],
        > [type='checkbox'] {
            + label {
                @include color($bg: $color-pink);
            }
        }
    }

}
