// Common
// =============================================================================
$color-black: #000;
$color-white: #fff;

// Page
// =============================================================================
$color-page-text: $color-white;
$color-page-background: $color-black;
