// Common
// =============================================================================
$color-black: #000;
$color-white: #fff;

$color-red: #EA2227;
$color-green: #8BC541;
$color-blue: #25A8E0;
$color-pink: #ED498F;


// Page
// =============================================================================
$color-page-text: $color-white;
$color-page-background: $color-black;
