// Common
// =============================================================================
$color-black: #000;
$color-white: #fff;

$color-chrome: #d3e4e6;
$color-red: #ea2227;
$color-green: #8bc541;
$color-blue: #25a8e0;
$color-pink: #ed498f;


// Page
// =============================================================================
$color-page-text: $color-white;
$color-page-background: $color-black;
